h2, h3, h4, h5, h6 {
  font-family: Arial, serif;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  color: #222;
  font-family: Helvetica, sans-serif;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

h2 {
  display: table-row;
  color: #111;
  font-family: Helvetica, sans-serif;
  font-size: 26px;
}

h3 {
  color: #111;
  font-size: 18px;
}

.container {
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  -webkit-box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow:  0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  width: 960px;
}

.row {
  display: table;
  padding: 20px;
  width: 100%;
}

.half {
  display: table-cell;
  padding: 10px;
  width: 50%;
}

.half .row {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}