<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Backbone Complety - DEMO</title>
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="backbone.complety.css" type="text/css" />
  <link rel="stylesheet" href="css/main.css" type="text/css" />
  <link href="js/libs/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
  <link href="js/libs/google-code-prettify/sunburst.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="js/libs/google-code-prettify/prettify.js"></script>
  <script data-main="main" src="js/libs/require.js"></script>
</head>
<body onload="prettyPrint()">
  <div class="container">
    <h1>Backbone Complety</h1>
    <p class="ad">Simple Backbone based replacement for long and boring select boxes. It supports searching, multiple selection and
      custom templates for search results.</p>
    <h2>Basic Autocomplete</h2>
    <hr>
    <div class="row">
      <div class="half">
        <div class="row">
          <h3>Autocomplete for Text Input </h3>
          <div class="input-complete">
          </div>
        </div>
        <div class="row">
          <h3>Autocomplete for Textarea</h3>
          <div class="area-complete">
          </div>
        </div>
      </div>
      <div class="half">
        <pre class="prettyprint prettyprinted linenums lang-js">
var complety = new Backbone.Complety({
  //search source
  collection: famousCarBrands,
  //div selector where widget will be rendered
  targetContainer: '.input-complete',
  //attribute of the model where to search
  searchAttr: "brand"
});</pre>
        <pre class="prettyprint prettyprinted linenums lang-js">
var completyArea = new Backbone.Complety({
  collection: famousCarBrands,
  targetContainer: '.area-complete',

  //Set to true if you want textarea to be
  //rendered.
  isArea: true,

  searchAttr: "brand"
});</pre>
      </div>
    </div>
    <h2>Multiple Autocomplete</h2>
    <hr>
    <div class="row">
      <div class="half">
        <div class="row">
          <h3>Multiple Autocomplete for Text Input </h3>
          <div class="multi-input-complete">
          </div>
        </div>
        <div class="row">
          <h3>Multiple Autocomplete for Textarea</h3>
          <div class="multi-area-complete">
          </div>
        </div>
      </div>
      <div class="half">
        <pre class="prettyprint prettyprinted linenums lang-js">
var complety = new Backbone.Complety({
  collection: famousCarBrands,
  targetContainer: '.input-complete',
  isMultiple: true,
  searchAttr: "brand"
});</pre>
        <pre class="prettyprint prettyprinted linenums lang-js">
var completyArea = new Backbone.Complety({
  collection: famousCarBrands,
  targetContainer: '.area-complete',
  isArea: true,
  isMultiple: true,
  searchAttr: "brand"
});</pre>
      </div>
    </div>
    <h2>Custom Template for Autocomplete</h2>
    <hr>
    <div class="row">
      <div class="half">
        <div class="row">
          <h3>Multiple Autocomplete for Text Input </h3>
          <div class="custom-input-complete">
          </div>
        </div>
        <div class="row">
          <h3>Multiple Autocomplete for Textarea</h3>
          <div class="custom-area-complete">
          </div>
        </div>
      </div>
      <div class="half">
        <pre class="prettyprint prettyprinted linenums lang-js">
var complety = new Backbone.Complety({
  collection: source to look,
  targetContainer: selector for div,
  searchAttr: attribute to search,
  template: {
    template: Template,
    tmpltData: {
      keys : model attribute
    }
});</pre>
        <pre class="prettyprint prettyprinted linenums lang-js">
var customCompletyArea = new Backbone.Complety({
  collection: famousCarBrands,
  targetContainer: '.custom-area-complete',
  isArea: true,
  isMultiple: true,
  searchAttr: "brand",
  ignoreCase: true,
  Template: {
    template: '&lt;table&gt;&lt;tr class="trow"&gt;&lt;td&gt;
            &lt;img height="40" src="<%= img %>"&gt;&lt;/td&gt;
            &lt;td class="title"&gt;<%= name %>&lt;/td&gt;&lt;/tr&gt;
            &lt;/table&gt;',
    values: {
      name: 'brand',
      img: 'imgURL'
    }
  }
});</pre>
      </div>
    </div>
  </div>
</body>
</html>